
.nav {
    background-color: #212f3d;
    color: aliceblue;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
    
    
}

.nav-btn{
    background-color: #008CBA;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid black;
    height: 30px;
    width: 80px;
}
.container {
    width: 60%;
    margin: 10px auto;
    display: flex;
    padding: 15px;

}

.cont-left {
    flex-grow: 7;
    margin-right: 16px;
    
}

.cont-right {
    flex-grow: 3;
    
    
}

.body-left {
    display: flex;
    vertical-align: middle;
    align-items: center;
    border: 2px solid slategrey;
    padding: 12px;
    margin-bottom: 16px;
}
.body-div-right {
    display: flex;
    vertical-align: middle;
    align-items: center;
    border: 2px solid slategrey;
    padding: 12px;
}

.body-right {
    display: block;
    justify-content: center;
    margin-left: 16px;
    
} 
.right-add{
    border: 2px solid slategrey;
    padding: 12px;
}
.body-likes{
    display: block;
    justify-content: center;
    align-items: center;
    
} 
input{
    width: 30%;
    height: 30px;
} 

.btn-likes{
    background-color: yellow;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid black;
    height: 30px;
    width: 80px;
} 
.btn-add{
    background-color: #4caf50;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid black;
    height: 30px;
    width: 160px;
}
