.row {
    display: flex;
}
.col, .col-2, .col-3 {
    flex: 1;
    margin: 18px;
    padding: 18px;
    background-color: aqua;
    
}
.col-2 {
    flex: 2;
} 
.col-3{
    flex: 3;
}
