.nav {
    background-color:  #212f3d;
    color: aliceblue;
    height: 80px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
} 
.nav a {
    color: white;
    text-decoration: none; 
} 
.nav-title {
    margin-left: 30px;
} 
.btn {
    height: 40px;
    width: 120px;
    background-color: #2ea5f8;
    color: white; 
    border: none;
    border-radius: 8px;
    font-size: 12px;
    box-shadow: 4px 4px black;
}